@{
    ViewBag.Title = "About";
}
<h2>Collager</h2>
<h3>Makes collage of your twitter friends' (yours followings) profile pictures.</h3>

<p>Size of photo on collage depends on the total tweets count made by the user.</p>
