@{
    ViewBag.Title = "Contact";
}
<h2>Taras Babii</h2>

<address>
    <strong>Email:</strong>   <a href="mailto:taras.babii@gmail.com">taras.babii@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/tarbii">tarbii</a>
</address>